<<<<<<< HEAD
<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
<<<<<<< HEAD
<<<<<<< HEAD
  <%= form.text_field :content , id: "content" %>
=======
  <%= form.text_field :content %>
>>>>>>> parent of 11a1cfd (コントローラーにリクエストを送信する)
=======
  <%= form.text_field :content %>
>>>>>>> parent of 11a1cfd (コントローラーにリクエストを送信する)
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>

=======
<h1>Top page</h1>
<%= link_to '新規投稿', '/posts/new' %>
>>>>>>> parent of 8e80901 (AjaxAppの準備)
<% @posts.each do |post| %>
   <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>